<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Cost Tracker</span>
                    <hr class="star-light">
                    <span class="skills">Track - Learn - Save</span>
                </div>
            </div>
        </div>
    </div>
</header>